.admin {
  display: flex;
  justify-content: space-between;

  &__title {
    font-size: 20px;
  }
  &__btn {
    background: #0739ed;
    color: var(--text-color);
    &:hover {
      background: #0739edc0;
    }
  }
}
.admin-title {
  margin: var(--md-gap) 0;
}
.grid-table {
  display: grid;
  grid-template-columns: 20% 50% 20% 10%;
}
.grid-table {
  background-color: #303c69;
  color: var(--text-color);
  padding: var(--sm-gap);

  &:not(:last-child) {
    border-bottom: 2px solid #2e3239;
  }

  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__edit {
    margin: auto;

    &:hover {
      cursor: pointer;
      color: lightblue;
    }
  }
}
