.features {
  background: #141f35;
  margin: 88px 0;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 425px) {
    display: block;
  }

  &__wrapper {
    padding: var(--xl-gap);

    @media (max-width: 425px) {
      padding: 0 var(--md-gap);
    }
  }

  &__title {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 48px;
  }
  &__content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--md-gap);
  }
  &__list {
    width: 372px;
    height: 250px;
    display: flex;
    flex-direction: column;
    gap: var(--md-gap);

    @media (max-width: 1024px) {
      width: 285px;
      height: 280px;
    }

    @media (max-width: 768px) {
      width: 300px;
      height: 280px;
    }

    .image {
      width: 52px;
      height: 52px;
    }
    .title {
      font-size: 24px;
    }
    .description {
      font-size: 20px;
    }
  }
}
