.login-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .login {
    max-width: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--md-gap);

    &__title {
      font-size: 1.2rem;
      letter-spacing: 1.2px;
    }
    &__input {
      padding: var(--sm-gap);
      border-radius: var(--sm-gap);
    }
    &__btn {
      font-size: 1rem;
      font-weight: 600;
      color: var(--text-dark);
      padding: var(--sm-gap);
      border-radius: var(--sm-gap);

      &:hover {
        background: #3470ea;
        color: var(--text-color);
      }
    }
    &__error {
      color: rgb(243, 61, 61);
    }
  }
}
